__pycache__/bot.cpython-38.pyc
__pycache__/config.cpython-37.pyc
__pycache__/config.cpython-38.pyc
__pycache__/config.cpython-39.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-311.pyc
.vscode/launch.json
revChatGPT/__pycache__/__init__.cpython-39.pyc
revChatGPT/__pycache__/V1.cpython-39.pyc
telegram_bot_access.txt
config.json
config.yaml
bot.py
__pycache__/article_adapter.cpython-39.pyc
__pycache__/chatgpt_adapter.cpython-39.pyc
__pycache__/donater_adapter.cpython-39.pyc
__pycache__/text_adapter.cpython-39.pyc
__pycache__/utility_adapter.cpython-39.pyc
.gitignore
.gitignore
